#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: gold;
}

button {
  margin: 0 0.1rem;
  font-size: 1rem;
  /* border-radius: 9999px; */
  transition: border-color 0.25s;
}

/* Spinner.css */
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchForm {
  border: 3px solid orange;
}

.results {
  border: 1px dotted blue;
}

.results-info {
  font-style: italic;
}

.results-list {
  border: 1px solid red;
}

.resultsNav {
  border: 3px solid green;
}

.resultsNav-activeButton {
  border: 3px solid green;
}

.topbar {
  border: 1px solid purple;
}
