:root {
  --color-foreground: rgb(39, 39, 39);
  --color-background: hsl(0, 0%, 99%);
  --color-body-background: rgb(255, 255, 255);
  --color-interactive: hsl(0, 100%, 40%);
  --color-interactive-focus: hsl(245, 90%, 40%);
  --color-interactive-focus-secondary: hsl(0, 100%, 96%);
  --color-border: hsl(0, 0%, 0%);
  --color-invalid: hsl(356, 100%, 71%);

  --color-links: var(--color-interactive);
  --color-links-hover: var(--color-interactive-focus);
  --color-links-active: var(--color-interactive-focus);

  --max-siteWidth: 980px;
  --min-bodyLineLength: 10rem;
  --max-bodyLineLength: 40rem;

  --font-body: Georgia, serif;
  --font-display: var(--font-body);
  --bodyLineHeight: 1.5;

  font-family: var(--font-body);
  line-height: var(--bodyLineHeight);
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--color-foreground);
  background-color: var(--color-background);

  /* From exemplar site */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* **** start reset styles **** */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* address when the body background not filling the space the way you might expect it to */
html,
body {
  height: 100%;
}

/* The block display type there prevents those annoying line-height gaps that always kill me. And you almost never want any of these media blocks to be wider than the parent. */
img,
picture,
video,
canvas,
svg,
iframe,
object {
  display: block;
  max-width: 100%;
}

/* bad news when a long word (like a URL) forces an element wide and borks a layout. */
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
}

/* ensures that any blending modes applied to the element or its descendants only affect that isolated group, rather than blending with elements outside the group. */
#root {
  isolation: isolate;
}

/* **** end reset styles **** */

#root {
  max-width: 800px;
  margin: 0;
  padding: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
  height: 95vh;
  border: 3px dashed purple;
}

/* App.css */
form {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: gold;
}

button {
  margin: 0 0.1rem;
  font-size: 1rem;
  /* border-radius: 9999px; */
  transition: border-color 0.25s;
}

/* Spinner.css */
.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Spinner from rr tut */
#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchForm {
  border: 3px solid orange;
  display: flex;
  flex-flow: column nowrap;
}

#searchInput {
  flex: 1;
  min-width: 25em;
}

.searchForm-bottombar {
  display: flex;
  gap: 0.2em;
}

.searchForm-bottombar span {
  margin-right: 0.5em;
}

.searchForm-bottombar label {
  margin-right: 0.3em;
}

.searchForm-bottombar input {
  margin: 0;
}

.results {
  border: 1px dotted blue;
}

.results-info {
  font-style: italic;
}

.results-list {
  border: 1px solid red;
}

.resultsNav {
  border: 3px solid green;
}

.resultsNav-activeButton {
  border: 3px solid green;
}

#menubar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  border: 1px solid purple;
}

/* new from rr tut */
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}
textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.soleCenter {
  border: 4px dotted green;
  margin-top: 20vh;
}

#main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  border: 4px dotted blue;
}
